<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">О клинике</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">О клинике</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <img src="img/about.png" class="img-responsive">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <p class="text margin">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="title_h1">записаться на прием</h1>
                </div>
            </div>
            //= form.html
        </div>
    </div>
</div>
