<div class="container-fluid bottom_fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-5 col-sm-4 col-xs-3">
                <a href="index.html">
                    <img src="img/logo.png" class="img-responsive logo_bottom">
                </a>
                <div class="block_socilas">
                    <a href="#"><img src="img/icon/vk.png" class="img-responsive socials"></a>
                    <a href="#"><img src="img/icon/insta.png" class="img-responsive socials"></a>
                </div>
            </div>
            <div class="col-md-8 col-lg-7 col-sm-8 col-xs-9">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 col_menu_bottom">
                        <p class="bottom_text_menu">Меню</p>
                        <div class="row">
                            <ul>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <li><a href="index.html">Главная</a></li>
                                    <li><a href="workers.html">Специалисты</a></li>
                                    <li><a href="yslugi.html">Услуги</a></li>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <li><a href="about.html">О компании</a></li>
                                    <li><a href="news.html">Новости</a></li>
                                    <li><a href="kontakts.html">Контакты</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 col_menu_bottom">
                        <p class="bottom_text_menu">Контакты</p>
                        <ul>
                            <li>
                                <img src="img/icon/map.png" class="img_bottom_icon">
                                Адрес: Яковлева 71
                            </li>
                            <li><a href="#">
                                <img src="img/icon/phone_bottom.png" class="img_bottom_icon">
                                +7 (999) 999 99 99
                            </a></li>
                            <li>
                                <img src="img/icon/mail_bottom.png" class="img_bottom_icon">
                                E-mail
                                </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_line">
        </div>
        <p class="the_end_autor">разработка сайта веб-студия <a href="http://itrocks.ru" target="_blank">"Итрокс"<a></p>
    </div>
</div>