<div class="block_form">
    <div class="row">
        <form class="" method="GET">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <input type="text" name="name" class="text_input form-control" placeholder="Ф.И.О">
                <input type="text" name="mail" class="text_input form-control" placeholder="E-mail">
                <input type="text" name="city" class="text_input form-control" placeholder="Город">

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <textarea class="text_input form-control" placeholder="Задайте вопрос"></textarea>
            </div>
            <div class="row_label">
                <input type="checkbox" id="agree_checked">
                <label for="agree_checked" class="black">Согласие на обработку персональных данных</label>
            </div>
            <input type="submit" class="btn btn_bron" value="Отправить">
        </form>
    </div>
</div>