<div class="container container_header">
    <div class="row row_header">
        <div class="col-md-3 col-lg-3 col-sm-2 col-xs-6">
            <a href="index.html">
                <img src="img/logo.png" class="logo_img img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
            <div class="block_text_header pull-right">
                <p class="text_header">Рабочее время:</p>
                <p class="text_header">09:00 - 17:00</p>
            </div>
            <img src="img/icon/clock.png" class="img-responsive img_icon_header pull-right">
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
            <div class="block_text_header pull-right">
                <p class="text_header">Mail</p>
                <p class="text_header">
                    <a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a>
                </p>
            </div>
            <img src="img/icon/mail.png" class="img-responsive img_icon_header pull-right">
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="block_text_header pull-right">
                <p class="text_header">телефон</p>
                <p class="text_header">
                    <a href="tel:8(913)8559851">8(913)-855-98-51</a>
                </p>
            </div>
            <img src="img/icon/phone.png" class="img-responsive img_icon_header pull-right">
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar_socials hidden-sm hidden-lg hidden-md">
        <a href="vk.com" class="icon_socials_header">
            <img src="img/icon/vk.png" class="img-responsive">
        </a>
        <a href="instagram.com" class="icon_socials_header">
            <img src="img/icon/insta.png" class="img-responsive">
        </a>
    </div>
    <div class="container-fluid fluid_menu_header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="yslugi.html">Услуги</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="notes.html">Статьи</a></li>
                    <li><a href="workers.html">Специалисты</a></li>
                    <li><a href="kontakts.html">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar_socials hidden-xs">
                    <li>
                        <a href="vk.com" class="icon_socials_header">
                            <img src="img/icon/vk.png" class="img-responsive socials_img">
                        </a>
                        <a href="instagram.com" class="icon_socials_header">
                            <img src="img/icon/insta.png" class="img-responsive socials_img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
