<div class="container container_yslugi kontakts">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Контакты</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Контакты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <p class="title_kont">Телефон: <span>8(800)555-55-55</span></p>
                <p class="title_kont">Почта: <span><a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a></span></p>
                <p class="title_kont">График работы: <span>Пн-пт 9:00 - 18:00</span></p>
                <img src="img/map.png" class="img-responsive">
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="title_h1">Записаться на прием</h1>
                </div>
            </div>
            //= form.html
        </div>
    </div>
</div>
