<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Статьи</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Статьи</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <a href="note.html">
                            <img src="img/notes/img1.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                        <a href="note.html">
                            <p class="title">
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            </p>
                        </a>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                        </p>
                    </div>
                </div>
            </div>
            <div class="block_notes">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <a href="note.html">
                            <img src="img/notes/img2.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                        <a href="note.html">
                            <p class="title">
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            </p>
                        </a>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                        </p>
                    </div>
                </div>
            </div>
            <div class="block_notes">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <a href="note.html">
                            <img src="img/notes/img3.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                        <a href="note.html">
                            <p class="title">
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            </p>
                        </a>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                        </p>
                    </div>
                </div>
            </div>
            <div class="block_notes">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <a href="note.html">
                            <img src="img/notes/img4.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                        <a href="note.html">
                            <p class="title">
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            </p>
                        </a>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона,
                            а также реальное распределение букв и пробелов в абзацах,
                            которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                        </p>
                    </div>
                </div>
            </div>
            <div class="numeric_bottom">
                <ol>
                    <li>
                        <a href="#"> < </a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#" class="active">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#"> > </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
