<div class="container container_yslugi container_worker">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Специалисты</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Специалисты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_worker">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <img src="img/workers/worker2.png" class="img-responsive img_worker">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <p class="name_worker black">Кашинская Татьяна <br> Леонидовна</p>
                        </a>
                        <p class="type_worker">Врач-косметолог</p>
                        <p class="text">
                            Сегодня люди не представляют свою жизнь без современных технологий, в частности, без
                            компьютера.
                        </p>
                        <a href="worker.html" class="btn btn_bron">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="block_worker">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <img src="img/workers/worker2.png" class="img-responsive img_worker">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <p class="name_worker black">Кашинская Татьяна <br> Леонидовна</p>
                        </a>
                        <p class="type_worker">Врач-косметолог</p>
                        <p class="text">
                            Сегодня люди не представляют свою жизнь без современных технологий, в частности, без
                            компьютера.
                        </p>
                        <a href="worker.html" class="btn btn_bron">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="block_worker">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <img src="img/workers/worker2.png" class="img-responsive img_worker">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="worker.html">
                            <p class="name_worker black">Кашинская Татьяна <br> Леонидовна</p>
                        </a>
                        <p class="type_worker">Врач-косметолог</p>
                        <p class="text">
                            Сегодня люди не представляют свою жизнь без современных технологий, в частности, без
                            компьютера.
                        </p>
                        <a href="worker.html" class="btn btn_bron">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="numeric_bottom">
                <ol>
                    <li>
                        <a href="#"> < </a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#" class="active">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#"> > </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
