<div class="container container_yslugi container_worker">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <a href="workers.html">Специалисты</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Специалист</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Специалисты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_worker worker">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <img src="img/workers/worker2.png" class="img-responsive img_worker pull-left padding">
                        <p class="name_worker black">Кашинская Татьяна <br> Леонидовна</p>
                        <p class="type_worker color_style">Врач-косметолог</p>
                        <p class="text">
                            Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности,
                            имеют как положительные, так и отрицательные последствия для жизни людей.
                            А для того, чтобы жить в гармонии люди должны найти правильный баланс.
                            Они должны помнить, что компьютер изначально был создан, чтобы помочь людям, сделать их жизнь легче, а не разрушить ее.
                            Маленькие дети больше всего подвержены риску. Сейчас они часто остаются без присмотра.
                            Поэтому они много времени проводят за монитором компьютера, играют в компьютерные игры,
                            смотрят видео или просто сидят в Интернете. В результате дети не развиваются физически.
                            Они не проводят время на свежем воздухе, не занимаются спортом и не играют в игры. Позже им становится
                            трудно общаться с другими людьми в живую, потому что они не имеют необходимых коммуникативных и социальных навыков.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h1 class="title_h1">записаться на прием</h1>
            </div>
            //= form.html
        </div>
    </div>
</div>
