<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Услуги</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Услуги</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="row row_yslugi row_top_margin">
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/roztka.png" class="img-responsive img_yslugi">
                        <p class="title">Кардиология</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                        </p>
                    </div>
                </a>
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/phone.png" class="img-responsive img_yslugi">
                        <p class="title">Лечебный массаж</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                        </p>
                    </div>
                </a>
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/car.png" class="img-responsive img_yslugi">
                        <p class="title">Неврология</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                        </p>
                    </div>
                </a>
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/phone.png" class="img-responsive img_yslugi">
                        <p class="title">Кардиология</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                    </div>
                </a>
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/girl.png" class="img-responsive img_yslugi">
                        <p class="title">Дермотология</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                        </p>
                    </div>
                </a>
                <a href="ysluga.html">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                        <img src="img/icon/yslugi/car.png" class="img-responsive img_yslugi">
                        <p class="title">Кардиология</p>
                        <p class="text">
                            Давно выяснено, что при оценке дизайна и композиции
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
