<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <a href="yslugi.html">Услуги</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Услуга</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Услуги</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            //= elems/left_menu.html
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_text_ysluga">
                Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности,
                имеют как положительные, так и отрицательные последствия для жизни людей.
                А для того, чтобы жить в гармонии люди должны найти правильный баланс.
                Они должны помнить, что компьютер изначально был создан, чтобы помочь людям,
                сделать их жизнь легче, а не разрушить ее.
            </div>
            <div class="list_block_yslugi">
                <p class="title">
                    Стоимость услуг
                </p>
                <div class="row row_list">
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 title_usluga">
                        Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 price text-right">
                        1000
                        <small>руб</small>
                    </div>
                    <div class="col-md-11 col-sm-12 col-xs-11 col-lg-12 text">
                            А для того, чтобы жить в гармонии люди должны найти правильный баланс.
                            Они должны помнить, что компьютер изначально был создан, чтобы помочь людям,
                            сделать их жизнь легче, а не разрушить ее.
                    </div>
                </div>
                <div class="row row_list">
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 title_usluga">
                        Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 price text-right">
                        1000
                        <small>руб</small>
                    </div>
                    <div class="col-md-11 col-sm-12 col-xs-11 col-lg-12 text">
                        А для того, чтобы жить в гармонии люди должны найти правильный баланс.
                        Они должны помнить, что компьютер изначально был создан, чтобы помочь людям,
                        сделать их жизнь легче, а не разрушить ее.
                    </div>
                </div>
                <div class="row row_list">
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 title_usluga">
                        Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 price text-right">
                        1000
                        <small>руб</small>
                    </div>
                    <div class="col-md-11 col-sm-12 col-xs-11 col-lg-12 text">
                        А для того, чтобы жить в гармонии люди должны найти правильный баланс.
                        Они должны помнить, что компьютер изначально был создан, чтобы помочь людям,
                        сделать их жизнь легче, а не разрушить ее.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">записаться на прием</h1>
        </div>
    </div>
    //= form.html
</div>
