<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name>Gallery</name>
        <version>6</version>
        <status>0</status>
        <resources>
            
            <admin>
                <add-category>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-category>
                <del-category>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </del-category>
                <edit-category>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-category>
                <categories>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </categories>
		
                <photos>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </photos>
                <add-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-photo>
                <load-photos>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </load-photos>
                <del-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </del-photo>
                <edit-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-photo>
            </admin>
            
            <index>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </index>
                <slider>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </slider>
            </index>
            
        </resources>
    </module>
</configdata>