<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Статьи</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Статьи</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <?php foreach ($this->paginator as $item) : ?>
            <div class="block_notes">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/blog/show', true); ?>">
                            <img src="<?php echo $this->baseUrl() . '/' . $this->blogImage($item['image']);?>" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                        <a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/blog/show', true); ?>">
                            <p class="title">
                                <?php echo stripslashes($item['title']); ?>
                            </p>
                        </a>
                        <div class="text">
                            <?php echo stripslashes($item['shortDescription']); ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach;?>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
        </div>
    </div>
</div>