<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <a href="<?php echo $this->url([], 'blogPages', true);?>">Статьи</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav"><?php echo stripslashes($this->item['title']); ?></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1"><?php echo stripslashes($this->item['title']); ?></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <img src="<?php echo $this->baseUrl() . '/' . $this->blogImage($this->item['image']);?>" class="img-responsive">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="text margin">
                            <?php echo stripslashes($this->item['shortDescription']); ?>
                            <hr />
                            <?php echo stripslashes($this->item['description']); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
