<div class="numeric_bottom">
    <ol>
        <li>
            <a href="<?php echo (isset($this->previous)) ? $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'page' => $this->previous], 'blogPages', true) : ''; ?>"> < </a>
        </li>
        <?php foreach ($this->pagesInRange as $page) { ?>
        <li>
            <a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'page' => $page], 'blogPages', true); ?>" class="<?php echo ($page != $this->current) ? '' : 'active';?>"><?php echo $page; ?></a>
        </li>
        <?php } ?>
        <li>
            <a href="<?php echo (isset($this->next)) ? $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'page' => $this->next], 'blogPages', true) : ''; ?>"> > </a>
        </li>
    </ol>
</div>
