<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h5><?php echo $this->translate('portfolioAdd'); ?></h5>
        <span></span>    
    </div>
</div>
<!-- /page header -->
<!-- Page form -->
<div class="widget row-fluid">
  <?php if (!empty($this->error)) : ?>
  <div class="alert margin">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <?php echo $this->translate($this->error); ?>
  </div>
  <?php endif; ?>
  <div class="well">
      <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
        <?php echo $this->form->title; ?>
        <?php echo $this->form->alias; ?>
	<?php echo $this->form->metaTitle; ?>
	<?php echo $this->form->metaDescription; ?>
	<?php echo $this->form->portfolioCatalogId; ?>
	<?php echo $this->form->description; ?>
	<div class="control-group ">
          <label class="control-label"><?php echo $this->translate('portfolioImage') ?>:</label>
          <div class="controls">
            <input type="file" id="unstyled-file" name="image[]"> 
          </div>
        </div>
	<span id="images">
	</span>
	<div class="control-group ">
          <label class="control-label"><?php echo $this->translate('portfolioImageAdd') ?>:</label>
          <div class="controls">
            <img src="<?php echo $this->baseUrl(); ?>/images/frontend/add.png" id="addImage"/> 
          </div>
        </div>
	<?php echo $this->form->submit; ?>
      </form>
    </div>
</div>
<!-- /Page form -->
<script type="text/javascript">
 CKEDITOR.replace('description');
 $("#portfolioCatalogId").change(function () {
   $("#valueportfolioCatalogId").html($("#portfolioCatalogId :selected").text());
 });
 
 var image = '<div class="control-group ">';
 image += '<label class="control-label"><?php echo $this->translate("portfolioImage") ?>:</label>';
 image += '<div class="controls">';
 image += '<input type="file" id="unstyled-file" name="image[]">';
 image += '</div>';
 image += '</div>';

 $('#addImage').click(function () {
   $('#images').append(image);
 });
</script>

