<!-- Page header -->
<div class="page-header">
  <div class="page-title">
    <h5><?php echo $this->translate('portfolioCatalogs'); ?></h5>
    <span><a href="<?php echo $this->url(array('action' => 'add', 'controller' => 'admin', 'module' => 'portfolio'), 'default', true); ?>" class="button"><?php echo $this->translate('portfolioCatalogAdd');?></a></span>
    </div>
</div>
<!-- /page header -->

<!-- Media datatable Last Orders -->
<div class="widget">
    <div class="navbar">
    </div>
    <div class="table-overflow">
      <table class="table table-striped table-bordered table-checks">
        <thead>
          <tr>
            <th>#</th>
            <th><?php echo $this->translate('portfolioCatalogTitle'); ?></th>
            <th class="actions-column"><?php echo $this->translate('portfolioActions');?></th>
          </tr>
        </thead>
        <tbody>
          <?php $i = 1; ?>
          <?php foreach ($this->paginator as $item) : ?>
                <tr>
                  <td>
                    <a href="<?php echo $this->url(array('controller' => 'admin', 'action' => 'show-services', 'module' => 'portfolio', 'id' => $item['id'])); ?>" title="">
                      <?php echo $i++; ?>
                        </a>
                  </td>
                  <td>
                    <a href="<?php echo $this->url(array('controller' => 'admin', 'action' => 'show-services', 'module' => 'portfolio', 'id' => $item['id'])); ?>" title=""><?php echo $item['title']; ?></a>
                  </td>
                  <td>
                    <ul class="navbar-icons">
                      <li><a href="<?php echo $this->url(array('controller' => 'admin', 'action' => 'edit', 'module' => 'portfolio', 'id' => $item['id'])); ?>" class="tip" title="Edit"><i class="icon-edit"></i></a></li>
                      <li><a href="<?php echo $this->url(array('controller' => 'admin', 'action' => 'delete', 'module' => 'portfolio', 'id' => $item['id'])); ?>" class="tip remove" title="Remove" ><i class="icon-remove"></i></a></li>
                    </ul>
                  </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
      </table>
      <?php echo $this->paginationControl($this->paginator, 'Sliding', 'admin-pagination.phtml'); ?>
    </div>
</div>
<!-- /media datatable -->
<script type="text/javascript">
    $('a.remove').click(function () {
        if (!confirm('<?php echo $this->translate("portfolioDeleteConfirm"); ?>')) {
            return false;
        }
    });
</script>
