<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Услуги</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Услуги</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <?php if (isset($this->description['description']) && !empty($this->description['description'])) : ?>
                <div class="block_text_ysluga">
                    <?php echo $this->description['description'];?>
                </div>
            <?php endif; ?>
            <div class="row row_yslugi row_top_margin">
                <?php foreach ($this->categories as $category) : ?>
                    <a href="<?php echo $this->url(array('alias' => $category['alias']), '/services');?>">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col_yslugi">
                            <img src="<?php echo $this->baseUrl() . '/' . $this->serviceImage($category['icon']);?>" class="img-responsive img_yslugi">
                            <p class="title"><?php echo $category['title'];?></p>
                        </div>
                    </a>
                <?php endforeach;?>
            </div>
            <?php if (!empty($this->services)) { ?>
                <div class="list_block_yslugi">
                    <p class="title">
                        Стоимость услуг
                    </p>
                    <?php foreach ($this->services as $service) { ?>
                        <div class="row row_list">
                            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 title_usluga">
                                <?php echo $service['title'];?>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 price text-right">
                                <?php echo $service['price'];?>
                                <small>руб</small>
                            </div>
                            <div class="col-md-11 col-sm-12 col-xs-11 col-lg-12 text">
                                <?php echo $service['description'];?>
                            </div>
                        </div>
                    <?php } ?>
                </div>

                <?php echo $this->action('feedback', 'index', 'default');?>
            <?php } ?>
        </div>
    </div>
</div>
