<ul>
    <?php foreach ($this->mainCategories as $category) { ?>
    <li>
        <a href="<?php echo $this->url(['alias' => $category['alias']], '/services', true);?>">
            <div class="row">
                <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                    <?php echo $category['title'];?>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                    <span class=""> > </span>
                </div>
            </div>
        </a>
    </li>
    <?php } ?>
</ul>
