<div class="container container_yslugi">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Категории услуг</h3>
        </div>
    </div>
    <div class="row row_yslugi row_top_margin">
        <?php foreach ($this->mainCategories as $category) { ?>
            <a href="<?php echo $this->url(['alias' => $category['alias']], '/services', true);?>">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                    <img src="<?php echo $this->baseUrl() . '/' . $this->serviceImage($category['icon']);?>" class="img-responsive img_yslugi">
                    <p class="title"><?php echo $category['title'];?></p>
                </div>
            </a>
        <?php } ?>
    </div>
</div>