<div class="datatable-footer">
    <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
        <span>
            <?php foreach($this->pagesInRange as $page): ?>
                <?php if($page != $this->current): ?>    
                    <a class="paginate_button" tabindex="0" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'admin', 'module' => 'portfolio', 'page' => $page),'default', true); ?>"><?php echo $page; ?></a>
                <?php else : ?>
                <?php endif; ?>
                <a class="paginate_active" tabindex="0" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'admin', 'module' => 'portfolio', 'page' => $page),'default', true); ?>"><?php echo $page; ?></a>
            <?php endforeach; ?>
        </span>
    </div>
</div>
