<div class="container container_advantages">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">наши приемущества</h3>
        </div>
    </div>
    <div class="row row_advantages">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="block_title_advantages">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 col_advantages">
                        <img src="img/icon/adv1.png" class="img-responsive img_advantages">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9 col-xs-12 col_advantages">
                        <div class="title_advantages">
                            Профессионализм
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_block_advantages">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="block_title_advantages">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 col_advantages">
                        <img src="img/icon/adv2.png" class="img-responsive img_advantages">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9 col-xs-12 col_advantages">
                        <div class="title_advantages">
                            Проверенные медикаменты
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_block_advantages">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="block_title_advantages">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 col_advantages">
                        <img src="img/icon/adv3.png" class="img-responsive img_advantages">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9 col-xs-12 col_advantages">
                        <div class="title_advantages">
                            Соверменное оборудование
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_block_advantages">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">где его взять</h3>
        </div>
        <div class="text_where_in_index text-center">
            О выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
            а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
            "Здесь ваш текст.. Здесь ваш текст..
        </div>
    </div>
</div>
