<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">записаться на прием</h3>
        </div>
    </div>
    //= ../form.html
</div>