<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Отзывы</h3>
        </div>
    </div>
    <div class="slick_worker" id="slick_otziv">
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
        <div>
                <div class="block_worker block_news_slider">
                    <p class="name_worker text-left black">Василий</p>
                    <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки
                    </p>
                </div>
        </div>
    </div>
</div>