<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Новости</h3>
        </div>
    </div>
    <div class="slick_worker" id="slick_news">
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <div class="block_news_img">
                        <img src="img/notes/img1.png" class="img-responsive worker_slide">
                    </div>
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и
                    вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
            </a>
        </div>
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <div class="block_news_img">
                        <img src="img/notes/img2.png" class="img-responsive worker_slide">
                    </div>
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и
                    вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
        </div>
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <div class="block_news_img">
                        <img src="img/news/img3.png" class="img-responsive worker_slide">
                    </div>
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и
                    вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
        </div>
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <div class="block_news_img">
                        <img src="img/news/img1.png" class="img-responsive worker_slide">
                    </div>
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и
                    вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
        </div>
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <img src="img/news/img2.png" class="img-responsive worker_slide">
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
        </div>
        <div>
            <div class="block_worker block_news_slider">
                <a href="novost.html">
                    <img src="img/news/img3.png" class="img-responsive worker_slide">
                    <p class="name_worker text-left">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean </p>
                </a>
                <p class="text_block color_text text-left">это текст-"рыба", часто используемый в печати и
                    вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки
                </p>
                <a href="novost.html" class="btn btn_bron margin_btn">
                    Подбробнее
                </a>
            </div>
        </div>
    </div>
</div>