<div class="container-fluid fluid_slick" id="fluid_slick">
    <div>
        <a href="#">
            <div class="block_for_slick">
                <img src="img/slider/img1.png" class="img-responsive img_slider">
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="block_for_slick">
                <img src="img/slider/img1.png" class="img-responsive img_slider">
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="block_for_slick">
                <img src="img/slider/img1.png" class="img-responsive img_slider">
            </div>
        </a>
    </div>
</div>
