<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Специалисты</h3>
        </div>
    </div>
    <div class="slick_worker" id="slick_worker">
        <div>
            <a href="worker.html">
                <div class="block_worker">
                    <div class="block_img_worker">
                        <img src="img/workers/worker1.png" class="img-responsive img_worker">
                    </div>
                    <p class="name_worker">Кашинская Татьяна <br> Леонидовна</p>
                    <p class="type_worker">Врач-косметолог</p>
                </div>
            </a>
        </div>
        <div>
            <a href="worker.html">
                <div class="block_worker">
                    <div class="block_img_worker">
                        <img src="img/notes/img1.png" class="img-responsive img_worker">
                    </div>
                    <p class="name_worker">Кашинская Татьяна <br> Леонидовна</p>
                    <p class="type_worker">Врач-косметолог</p>
                </div>
            </a>
        </div>
        <div>
            <a href="worker.html">
                <div class="block_worker">
                    <div class="block_img_worker">
                        <img src="img/about.png" class="img-responsive img_worker">
                    </div>
                    <p class="name_worker">Кашинская Татьяна <br> Леонидовна</p>
                    <p class="type_worker">Врач-косметолог</p>
                </div>
            </a>
        </div>
        <div>
            <a href="worker.html">
                <div class="block_worker">
                    <div class="block_img_worker">
                        <img src="img/workers/worker2.png" class="img-responsive img_worker">
                    </div>
                    <p class="name_worker">Кашинская Татьяна <br> Леонидовна</p>
                    <p class="type_worker">Врач-косметолог</p>
                </div>
            </a>
        </div>
        <div>
            <a href="worker.html">
                <div class="block_worker">
                    <div class="block_img_worker">
                        <img src="img/workers/worker1.png" class="img-responsive img_worker">
                    </div>
                    <p class="name_worker">Кашинская Татьяна <br> Леонидовна</p>
                    <p class="type_worker">Врач-косметолог</p>
                </div>
            </a>
        </div>
    </div>
</div>