<div class="container container_yslugi">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Категории услуг</h3>
        </div>
    </div>
    <div class="row row_yslugi row_top_margin">
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/roztka.png" class="img-responsive img_yslugi">
                <p class="title">Кардиология</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
                </p>
            </div>
        </a>
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/phone.png" class="img-responsive img_yslugi">
                <p class="title">Лечебный массаж</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
                </p>
            </div>
        </a>
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/car.png" class="img-responsive img_yslugi">
                <p class="title">Неврология</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
                </p>
            </div>
        </a>
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/phone.png" class="img-responsive img_yslugi">
                <p class="title">Кардиология</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
            </div>
        </a>
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/girl.png" class="img-responsive img_yslugi">
                <p class="title">Дермотология</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
                </p>
            </div>
        </a>
        <a href="ysluga.html">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 col_yslugi">
                <img src="img/icon/yslugi/car.png" class="img-responsive img_yslugi">
                <p class="title">Кардиология</p>
                <p class="text">
                    Давно выяснено, что при оценке дизайна и композиции
                </p>
            </div>
        </a>
    </div>
</div>
