<div class="container container_yslugi kontakts">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav"><?php echo $this->page['title']; ?></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1"><?php echo $this->page['title']; ?></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <?php echo $this->contactPhones($this->phones);?>
                <p class="title_kont">Почта: <span><a href="mailto:<?php echo $this->data['email']; ?>"><?php echo $this->data['email']; ?></a></span></p>
                <p class="title_kont">График работы: <span>Пн-пт 9:00 - 18:00</span></p>
                <div class="map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5pR1QS_7KXRK2177GHAz8McT_jrK2O9q&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <?php echo $this->action('feedback', 'index', 'default');?>
        </div>
    </div>
</div>
