<!DOCTYPE html>
<html>
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headMeta(); ?>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/slick.css" rel="stylesheet">
	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/main.css">

	<link rel="shortcut icon" type="image/png" href="<?php echo $this->baseUrl();?>/images/favicon.png" />

</head>
<body>
<?php
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
$module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$alias = Zend_Controller_Front::getInstance()->getRequest()->getParam('alias');
?>
<?php echo $this->action('header', 'index', 'default');?>

<?php echo $this->action('main-menu', 'index', 'default', ['action' => $action, 'controller' => $controller, 'module' => $module, 'alias' => $alias]);?>

<?php
if ($messages = $this->layout()->errorMessages) {  echo $messages; }
if ($messages = $this->layout()->messages) { echo $messages; }
?>

<?php echo $this->layout()->content; ?>

<?php echo $this->action('footer', 'index', 'index');?>



<script type="text/javascript">
    var config = {
        hotelroom: {
            request: '<?php echo $this->url(['action' => 'ajax-request', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>',
            successUrl: '<?php echo $this->url(['action' => 'success-request', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>',
            changeCategoryUrl: '<?php echo $this->url(['action' => 'categories-ajax', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>',
        }
    };
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/bootstrap.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/slick.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/main.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/lightslider.js"></script>
<script>

    $(document).ready(function () {

        $('#fluid_slick').slick({
            infinite: true,
            dots: true,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            dotsClass: 'dots_header'
        });

        $('#slick_worker').slick({
            infinite: true,
            dots: true,
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            dotsClass: 'my-dots-class',
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        arrows: false
                    }
                }
            ]
        });
        $('#slick_news').slick({
            infinite: true,
            dots: true,
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            dotsClass: 'my-dots-class',
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        arrows: false
                    }
                }
            ]
        });
        $('#slick_otziv').slick({
            infinite: true,
            dots: true,
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            dotsClass: 'my-dots-class',
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        arrows: false
                    }
                }
            ]
        });

    });
</script>
</body>
</html>
