<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Новости</h3>
        </div>
    </div>
    <div class="slick_worker" id="slick_news">
        <?php foreach ($this->items as $item) { ?>
        <div>
            <div class="block_worker block_news_slider">
                <a href="<?php echo $this->url(['module' => 'news', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/news/show', true); ?>">
                    <img src="<?php echo $this->baseUrl() . '/' .$this->newsImage($item['image']);?>" class="img-responsive worker_slide">
                    <p class="name_worker text-left">
                        <?php echo $item['title']; ?>
                    </p>
                </a>
                <p class="text_block color_text text-left">
                    <?php echo stripslashes($item['description']); ?>
                </p>
                <a href="<?php echo $this->url(['module' => 'news', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/news/show', true); ?>" class="btn btn_bron margin_btn">
                    Подробнее
                </a>
            </div>
            </a>
        </div>
        <?php } ?>

    </div>
</div>
