<div class="container container_yslugi">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'index', 'page' => 1), '/news/index/index');?>">Новости</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav"><?php echo $this->news['title']; ?></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1"><?php echo $this->news['title']; ?></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_notes">
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <p class="date">
                            <?php echo date('d.m.Y', strtotime($this->news['date'])); ?>
                        </p>
                        <img src="<?php echo $this->baseUrl() . '/' .$this->newsImage($this->news['image']);?>" class="img-responsive" alt="<?php echo $this->news['title']; ?>">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="text margin">
                            <?php echo $this->news['description']; ?>
                            <hr />
                            <?php echo $this->news['content']; ?>
                        </div>
                        <div class="block_share_main">
                            <p class="title margin">
                                Поделиться
                            </p>
                            <div class="block_share_img">
                                <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text=<?php echo stripslashes($this->news['title']); ?>&url=<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $this->item['alias']], '/blog/show', true); ?>" target="_blank" onclick="return Share.me(this);" id="twitter" data-placement="bottom" data-tooltip title="Поделиться в Twitter">
                                    <img src="<?php echo $this->baseUrl();?>/img/icon/share/twit.png" class="img-responsive img_share">
                                </a>
                                <a href="http://vk.com/share.php?url=<?php echo $this->getUrl(true); ?>&title=<?php echo stripslashes($this->news['title']); ?>&description=<?php echo stripslashes($this->news['description']); ?>&image=IMG_PATH&noparse=true" target="_blank" onclick="return Share.me(this);" id="vk" data-placement="bottom" data-tooltip>
                                    <img src="<?php echo $this->baseUrl();?>/img/icon/share/vk.png" class="img-responsive img_share">
                                </a>
                                <a href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D=<?php echo stripslashes($this->news['title']); ?>&p%5Bsummary%5D=<?php echo stripslashes($this->news['description']); ?>&p%5Burl%5D=<?php echo $this->getUrl(true); ?>&p%5Bimages%5D%5B0%5D=IMG_PATH" target="_blank" onclick="return Share.me(this);" id="facebook" data-placement="bottom" data-tooltip title="Поделиться в Facebook">
                                    <img src="<?php echo $this->baseUrl();?>/img/icon/share/facebook.png" class="img-responsive img_share">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

