<?php if (count($this->items) > 0 ) { ?>
    <div class="container container_worker">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h3 class="title_h1">Отзывы</h3>
            </div>
        </div>
        <div class="slick_worker" id="slick_otziv">
            <?php foreach ($this->items as $item) { ?>
                <div>
                    <div class="block_worker block_news_slider">
                        <p class="name_worker text-left black"><?php echo $item['title'];?></p>
                        <p class="text_block color_text text-left">
                            <?php echo $item['answer'];?>
                        </p>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
<?php } ?>