<div class="left_menu_btn_block hidden-lg hidden-md">
    Меню услуг
</div>
<div class="menu_left">
    <div class="close_block hidden-lg hidden-md">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <ul>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        лечебный массаж
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        неврология
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        кардиология
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        лечебный массаж
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        медицинский
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        лечебный массаж неврология
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                        лечебный массаж
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                        <span class=""> > </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>