<div class="block_share_main">
    <p class="title margin">
        Поделиться
    </p>
    <div class="block_share_img">
        <a href="#">
            <img src="img/icon/share/twit.png" class="img-responsive img_share">
        </a>
        <a href="#">
            <img src="img/icon/share/insta.png" class="img-responsive img_share">
        </a>
        <a href="#">
            <img src="img/icon/share/vk.png" class="img-responsive img_share">
        </a>
        <a href="#">
            <img src="img/icon/share/facebook.png" class="img-responsive img_share">
        </a>
    </div>
</div>