
@lineHeightText: 28px;
@sizeMinTitles: 23px;
@sizeTextMiddle: 19px;
@sizetextUsual: 17px;
@colorTextTitle: #494949;
@colorMenuText: #777777;
@colorLineheader: #ececec;
@colorStyle: #1a9bdc;
@colorHoverEffect: #2f6f95;

@import 'partials/header.less';
@import 'partials/index.less';
@import 'partials/bottom.less';
@import 'partials/menu_left.less';
@import 'partials/yslugi.less';
@import 'partials/notes.less';
@import 'partials/workers.less';
@import 'partials/kontakts.less';

a{
  color:@colorStyle;
}
.black{
  font-weight:600 !important;
}
.dots_header{
  bottom: 35px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
    border: 1px solid @colorStyle;
  }

  li.slick-active button {
    background-color: @colorStyle;
  }

}

 @media(max-width: 992px){
   .dots_header{
     bottom: 30%;

   }
   .fluid_slick .slick-next, .fluid_slick .slick-prev{
     top:25%;
   }
 }
@media(max-width: 500px){
  .dots_header{
    top:25%;
  }
}

.my-dots-class {
  position: absolute;
  width: 100%;
  bottom: -32px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
    border: 1px solid #d9d9d9;
  }

  li.slick-active button {
    background-color: #d9d9d9;
  }

}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 51px;
  width: 51px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  top: 44%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 300;
}

.slick-prev{
  background: url("../img/workers/slider/prev.png") no-repeat;
  left: -30px;
}
.slick-next{
  background: url("../img/workers/slider/next.png") no-repeat;
  right: -30px;
}
.date{
  color:@colorMenuText;
  font-size: 13px;
  text-align: left;
}