<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name>Shop</name>
        <version>12</version>
        <status>0</status>
        <resources>
            <index>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </index>
                <product>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </product>
                <add-to-cart>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </add-to-cart>
                <cart>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </cart>
                <order>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </order>
                <order-success>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </order-success>
            </index>
            <admin-categories>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <category-products>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </category-products>
            </admin-categories>
            <admin-products>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <product-images>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </product-images>
                <add-product-image>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-product-image>
                <delete-product-image>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete-product-image>
                <change-product-image-position>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </change-product-image-position>
                <product-properties>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </product-properties>
                <add-product-property>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-product-property>
                <delete-product-property>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete-product-property>
            </admin-products>
            <admin-filters>

                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <filter-elements-list>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </filter-elements-list>
                <add-element>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-element>
                <edit-element>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-element>
                <remove-element>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </remove-element>
                <ajax-get-filter-elements>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </ajax-get-filter-elements>
            </admin-filters>
            <admin-order>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <view-order>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </view-order>
            </admin-order>
            <admin-import>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
            </admin-import>
        </resources>
    </module>
</configdata>
