.bottom_fluid {
  border-top: 1px solid @colorStyle;
  margin-top: 20px;
  background: transparent;
  padding-top: 30px;
  .block_socilas{
    max-width: unset;
    display: block;
    float: none;
    margin-top: 15px;
    .socials{
      float: left;
      padding-right: 15px;
    }
  }
  .col_menu_bottom {
    ul {
      padding-left:0;
      li {
        list-style-type: none;
        padding: 5px 0;
        a {
          color: @colorTextTitle;
          font-size: 17px;
          text-transform: uppercase;
        }
      }
    }
  }
  .bottom_text_menu {
    font-size: @sizeTextMiddle;
    color: @colorStyle;
    text-transform: uppercase;
  }
  .logo_bottom {

  }
  .the_end_autor{
    font-size: 15px;
    font-weight: 600;
    color: @colorMenuText;
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
  }
  .bottom_line{
    width:100%;
    height:2px;
    background: @colorStyle;
    margin:20px auto 0;
    color: @colorMenuText;
  }
}
@media(max-width:500px){
  .bottom_fluid .col_menu_bottom ul li a {
    font-size: 12px;
  }
  .bottom_fluid .bottom_text_menu {
    font-size: 16px;
  }
  .col_tovar_menu .block_menu_tovar .block_tovar_name {
    padding: 1px 18px;
  }
  .col_tovar_menu .block_menu_tovar .block_tovar_name .h3_title {
    font-size: 18px;
  }
  .bottom_fluid .block_socilas .socials {
    float: none;
    margin-bottom: 15px;
  }
  .logo_bottom{
    margin-top:3px;
  }
}