.container_header {
  padding-bottom: 20px;
  border-bottom: 2px solid @colorLineheader;
  padding-top: 30px;
  .row_header {
    .logo_img {
      float: left;
      margin-top: 8px;
    }
    .block_text_header {
      margin-top: 5px;
      margin-left: 10px;
      .text_header {
        margin-bottom: 0;
        font-weight: 600;
        text-transform: uppercase;
        color: @colorTextTitle;
      }
    }
  }
}

.navbar {
  border: 0;
  margin-top: 15px;
  background: transparent;

  .fluid_menu_header {
    .container {
      .collapse {
        padding: 0;
        .navbar-nav {
          li {
            a {
              color: @colorMenuText;
              font-size: 20px;
              text-transform: uppercase;
              padding-left: 0;
              padding-right: 30px;
            }
            a:hover {
              color: @colorTextTitle;
            }
          }
        }
        .navbar_socials {
          float: right;
          .icon_socials_header {
            float: right;
            padding: 0;
            padding-left: 20px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .navbar .fluid_menu_header .container .collapse .navbar-nav li a {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .navbar .fluid_menu_header .container .collapse .navbar-nav li a {
    font-size: 14px;
    padding-right: 21px;
  }
  .socials_img{
    margin-top: 5px;
    max-width:30px !important;
  }
  .img_icon_header {
    max-width: 30px;
  }

  .container_header .row_header .block_text_header .text_header {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .navbar{
    margin-bottom: 0;
  }
  .container_header .row_header .logo_img {
    max-width: 100px;
    float: none;
  }

  .img_icon_header {
    margin-top: 4px;
  }

  .navbar {
    margin-top: 0;
  }

  .container_header {
    padding-top: 15px;
  }

  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  .navbar_socials {
    position: absolute;
    left: 5px;
    margin-left: 10px;
    top: 12px;
    .icon_socials_header {
      display: inline-block;
      padding-left: 0;
      padding-right: 10px;
      img {
        max-width: 30px;
      }
    }
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: @colorStyle;
  }

  .navbar-default .navbar-toggle {
    background: @colorStyle;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .fluid_slick .block_for_slick {
    background-size: auto 221%;
  }
}

.fluid_slick {
  .block_for_slick {
    .img_slider{
      width:100%;
      height: auto;
    }
  }
  .slick-prev {
    background: url("../img/slider/nav/prev.png") no-repeat;
    left: 150px;
  }
  .slick-next {
    background: url("../img/slider/nav/next.png") no-repeat;
    right: 150px;
  }
}

@media (max-width: 992px) {
  .fluid_slick .block_for_slick {

  }

  .fluid_slick {
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
  }
}
@media(max-width: 767px){
  .fluid_slick .slick-next {
    background-size: cover;
    width:30px;
    height: 30px;
    right: 10px;
  }
  .fluid_slick .slick-prev {
    left: 10px;
    width:30px;
    height: 30px;
    background-size: cover;
  }
}