.title_h1 {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: @colorTextTitle;
  margin-top: 50px;
  margin-bottom: 20px;
  .margin_title {
    margin: 60px 40px;
  }
}

.text_block {
  margin-top: 15px;
  font-size: @sizetextUsual;
  line-height: @lineHeightText;
}

.color_text {
  color: @colorMenuText;
}

.container_advantages {
  .row_advantages {
    color: @colorMenuText;
    margin-top: 30px;
    .block_title_advantages {
      display: flex;
      align-items: center;
      justify-content: center;
      .img_advantages {
        display: inline-block;
      }
      .col_advantages{

      }
      .title_advantages {
        display: inline-block;
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .text_block_advantages {
      margin-top: 15px;
      font-size: @sizetextUsual;
      line-height: @lineHeightText;
    }
  }
}

.text_where_in_index {
  color: @colorMenuText;
  font-size: @sizeTextMiddle;
  line-height: 35px;
}

.block_form {
  border-radius: 5px;
  max-width: 700px;
  margin: 0 auto 40px;
  .text_input {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    min-height: 45px;
    max-width: 350px;
  }
  label {
    font-size: @sizetextUsual;
  }
  textarea {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    height: 165px;
  }
  .btn {
    background: @colorStyle;
    padding: 10px 20px;
    color: #fff;
    float: right;
  }
}

.btn_bron {
  float: none !important;
  display: block;
  margin: 20px auto 0;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: -1px 4px 21px #a9a9a9;
  background: @colorStyle;
  color: #fff;
  font-size: @sizeTextMiddle;
  padding: 10px 30px;
  max-width: 200px;
  transition: .3s;
}

.btn_bron:hover {
  background: @colorHoverEffect;
  transition: .3s;
}

.container_worker {
  .block_news_slider {
    padding: 0 20px;
  }
}

.container_yslugi {
  .row_top_margin {
    margin-top: 30px;
  }
  .row_yslugi {
    .col_yslugi {
      color: #fff;
      padding: 40px 40px 20px;
      margin: 0;
      background: @colorStyle;
      text-align: center;
      height: 387px;
      transition: .3s;
      cursor: pointer;
      border: 1px solid rgba(185, 231, 255, 0.69);
      display: inline-block;
      float: left;
      .img_yslugi {
        margin: 0 auto;
      }
      .title {
        font-size: @sizeMinTitles;
        text-transform: uppercase;
        font-weight: 600;
        margin: 15px 0 25px;
      }
      .text {
        font-size: @sizetextUsual;
        line-height: @lineHeightText;
      }
    }
    .col_yslugi:hover {
      background: @colorHoverEffect;
      transition: .3s;
    }
  }
}

.container_worker {
  .margin_btn {
    margin-bottom: 20px;
  }
  .slick_worker {
    margin-top: 30px;
    a {
      text-decoration: none;
      .block_worker {
        text-align: center;
        .block_img_worker {
          height: 279px;
          .img_worker {
            margin: 0 auto 20px;
          }
        }

        .worker_slide {
          margin: 0 auto 20px;
          max-width: 100%;
        }
        .name_worker {
          margin-bottom: 15px;
          font-size: @sizeMinTitles;
          color: @colorTextTitle;
          margin-top: 20px;
        }
        .type_worker {
          font-size: @sizeMinTitles;
          color: @colorStyle;
        }
      }
      .block_news_img {
        height: 258px;
        .worker_slide {
          margin: 0 auto;
          max-height: 258px;
        }
      }
    }
  }
}

.row_label {
  text-align: center;
}

@media(max-width:1199px){
  .container_advantages .row_advantages .block_title_advantages .title_advantages{
    font-size: 20px;
  }
  .col_advantages{
    padding-left:0;
  }
}
@media (max-width: 992px) {
  .container_advantages .row_advantages .block_title_advantages .img_advantages {
    display: block;
    margin: 20px auto 20px;
  }

  .container_advantages .row_advantages .block_title_advantages .title_advantages {
    display: block;
    text-align: center;
  }
  .container_advantages .row_advantages .text_block_advantages{
    text-align: center;
  }
  .container_advantages .row_advantages .block_title_advantages .title_advantages{
    min-height: 56px;
  }
  .col_advantages{
    padding-left:15px;
  }
}

@media (max-width: 767px) {
  .block_form {
    max-width: 350px;
  }

  .container_yslugi .row_yslugi .col_yslugi {
    padding: 40px 20px 20px;
  }

  .container_advantages .row_advantages .block_title_advantages .title_advantages{
    min-height: unset;
  }

  .container_advantages .row_advantages .text_block_advantages {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container_yslugi .row_yslugi .col_yslugi {
    height: 310px;
  }

  .container_yslugi .row_yslugi .col_yslugi .title {
    font-size: 15px;
  }

  .container_yslugi .row_yslugi .col_yslugi .text {
    font-size: 14px;
  }

  .title_h1 {
    font-size: 25px;
  }

  .container_advantages .row_advantages .block_title_advantages .title_advantages {
    font-size: 17px;
  }

  .text_where_in_index {
    color: #777;
    font-size: 16px;
  }
}

