.kontakts{
  .block_notes{
    .title_kont{
      color:@colorTextTitle;
      font-size: @sizeTextMiddle;
      margin-bottom: 25px;
      span{
        text-transform: uppercase;
      }
    }
    img{
      margin:20px auto 0;
    }
  }
}