.menu_left {
  margin-top: 30px;
  ul {
    padding-left: 0;
    li {
      background: transparent;
      border: 1px solid @colorLineheader;
      text-align: left;
      font-size: @sizeTextMiddle;
      font-weight: 600;
      list-style-type: none;
      text-transform: uppercase;
      a {
        transition: 0.3s;
        padding: 20px 0px 20px 20px;
        display: block;
        width: 100%;
        height: 100%;
        color: @colorTextTitle;
        span {
          color: @colorStyle;
        }
      }
      a:hover {
        transition: 0.3s;
        color: @colorStyle;
        text-decoration: none;
      }
    }
  }
}

.left_menu_btn_block {
  color: @colorTextTitle;
  font-weight: 600;
  color: #fff;
  background: @colorStyle;
  padding: 15px 20px 10px;
  border-radius: 5px;
  position: fixed;
  top: 190px;
  left: -50px;
  z-index: 999;
  transform: rotate(-90deg);
}

@media (max-width: 991px) {
  .menu_left {
    position: fixed;
    top: -30px;
    left: 0;
    max-width: 340px;
    background: #fff;
    z-index: 1000;
    display: none;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 5px solid @colorStyle;
    border-right: 2px solid @colorStyle;
    ul li {
      background: 0 0;
      border: 1px solid #ececec;
      text-align: left;
      font-size: 15px;
      font-weight: 300;
      a{
        padding: 15px 0 15px 25px;
      }
    }
    .close_block {
      font-size: 30px;
      text-align: center;
      margin: 10px;
      color: @colorStyle;
    }
  }

}