.block_notes {
  padding: 30px 0;
  border-bottom: 1px solid @colorLineheader;
  color: @colorTextTitle;
  img{
    margin: 0 auto;
  }
  a {
    color: @colorTextTitle;
  }

    .title {
      font-size: @sizeMinTitles;
      font-weight: 600;
    }

  .text {
    font-size: @sizetextUsual;
  }
  .margin{
    margin-top:30px;
  }
  hr{
    margin-top:0;
  }
}
@media(max-width:767px){
  .block_notes img{
    max-width: 90%;
    margin: 0 auto 20px;
  }
  .block_notes a .title {
    font-size: 18px;
  }
}

.nav_pole{
  ul{
    padding-left: 0;
    li{
      list-style-type: none;
      display: inline-block;
      font-size: @sizeTextMiddle;
      padding: 0 5px;
      a{
        color: @colorMenuText;
      }
      span{
        color:@colorTextTitle;
      }
      a:hover{
        color: @colorStyle;
      }
    }
  }
}
.block_share_main{
  .block_share_img{
    .img_share{
      display:inline-block; padding-right: 15px;
    }
  }
}