
.container_worker{
  .block_worker {
    margin-top:30px;
    text-align: left;
    .img_worker {
      max-width:330px;
      margin: 0 auto 20px;
      max-height: 279px;
    }
    .padding{
      padding-right: 50px;
    }
    a{
      color: @colorTextTitle;
      .name_worker {
        margin-bottom: 15px;
        font-size: @sizeMinTitles;
      }
    }

    .type_worker {
      font-size: @sizeTextMiddle;
      color: @colorMenuText;
    }
    .color_style{
      color: @colorStyle;
    }
    .text{
      font-size: @sizeTextMiddle;
      color: @colorTextTitle;
    }
    .btn_bron{
      margin-left: 0;
      color:#fff;
    }

  }
}

@media(max-width:767px){
  .container_worker .block_worker .btn_bron{
    margin: 20px auto 0;
  }
  .container_worker .block_worker{
    text-align: center;
  }
  .container_worker .block_worker .padding{
    padding:0;
  }
  .container_worker .block_worker .pull-left{
    float: none !important;
    margin:  0 auto 20px;
  }
}

.numeric_bottom{
  margin-top: 40px;
  ol{
    padding-left:0;
    text-align: center;
    li{
      list-style-type: none;
      display: inline-block;
      padding: 0 5px;
      font-size: @sizeTextMiddle;
      font-weight: 600;
      a{
        color:@colorTextTitle;
      }
      .active{
        color:@colorStyle;
      }
      a:hover{
        color:@colorStyle;
        text-decoration: none;
      }
    }
  }
}