.container_yslugi{
  color: @colorTextTitle;
  margin:0 auto;
  .block_text_ysluga{
    font-size: @sizetextUsual;
    line-height: 30px;
    margin-top: 30px;
  }
  .list_block_yslugi{
    .title{
      font-size: @sizeMinTitles;
      font-weight: 600;
      text-align: left;
      margin: 30px 0;
      text-transform: uppercase;
    }
    .row_list{
      padding: 20px 0;
      border-top: 1px solid @colorLineheader;
      border-bottom: 1px solid @colorLineheader;
      color: @colorTextTitle;
      font-size: @sizetextUsual;
      .title_usluga{
        font-weight: 600;
      }
      .price{
        color: @colorStyle;
        font-weight: 600;
      }
      .text{
        margin-top:20px;
      }
    }
  }
}