<div class="container container_yslugi container_worker">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Специалисты</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Специалисты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <?php foreach ($this->items as $item) { ?>
            <div class="block_worker">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="<?php echo $this->url(array('action' => 'show', 'controller' => 'index', 'id' => $item['id']), '/specialists/show');?>">
                            <img src="<?php echo $this->baseUrl() . '/' . $this->specialistImage($item['photo']);?>" alt="<?php echo $item['fio']; ?>" class="img-responsive img_worker"/>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <a href="<?php echo $this->url(array('action' => 'show', 'controller' => 'index', 'id' => $item['id']), '/specialists/show');?>">
                            <p class="name_worker black"><?php echo $item['fio']; ?></p>
                        </a>
                        <p class="type_worker"><?php echo $item['specialisation'];?></p>
                        <p class="text">
                            <?php echo $item['shortDescription']; ?>
                        </p>
                        <a href="<?php echo $this->url(array('action' => 'show', 'controller' => 'index', 'id' => $item['id']), '/specialists/show');?>" class="btn btn_bron">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <?php } ?>

        </div>
    </div>
</div>
