<div class="container container_yslugi container_worker">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <a href="<?php echo $this->url([], '/specialists', true);?>">Специалисты</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav"><?php echo $this->specialist->fio; ?></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Специалист</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_worker worker">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <img src="<?php echo $this->baseUrl() . '/' . $this->specialistImage($this->specialist->photo);?>" alt="<?php echo $this->specialist->fio; ?>" class="img-responsive img_worker pull-left padding" />
                        <p class="name_worker black"><?php echo $this->specialist->fio; ?></p>
                        <p class="type_worker color_style"><?php echo $this->specialist->specialisation; ?></p>
                        <p class="text">
                            <?php echo $this->specialist->shortDescription; ?>
                            <hr />
                        <?php echo $this->specialist->description; ?>
                        </p>
                    </div>
                </div>
            </div>
            <?php echo $this->action('feedback', 'index', 'default');?>
        </div>
    </div>
</div>
