<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">Специалисты</h3>
        </div>
    </div>
    <div class="slick_worker" id="slick_worker">
        <?php foreach ($this->items as $key => $item) { ?>
        <div>
            <a href="<?php echo $this->url(['id' => $item['id']], '/specialists/show', true);?>">
                <div class="block_worker">
                    <img src="<?php echo $this->baseUrl() . '/' . $this->specialistImage($item['photo']);?>" class="img-responsive img_worker" alt="<?php echo $item['fio'];?>" />
                    <p class="name_worker"><?php echo $item['fio'];?></p>
                    <p class="type_worker"><?php echo $item['specialisation'];?></p>
                </div>
            </a>
        </div>
        <?php } ?>
    </div>
</div>
