<div class="container container_worker">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h3 class="title_h1">записаться на прием</h3>
        </div>
    </div>
    <div class="block_form">
        <div class="row">
            <form class="" method="POST" action="">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <?php echo $this->form->name;?>
                    <?php echo $this->form->phone;?>
                    <?php echo $this->form->email;?>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <?php echo $this->form->message;?>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row_label">
                    <?php echo $this->form->agreement;?>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <?php echo $this->form->submit;?>
                </div>
            </form>
        </div>
    </div>
</div>
