<div class="container container_yslugi container_worker">
    <div class="nav_pole">
        <ul>
            <li>
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
            </li>
            <li>
                >
            </li>
            <li>
                <span class="active_nav">Заявка отправлена</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="title_h1">Ваша заявка отправлена</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 col-lg-4">
            <div class="left_menu_btn_block hidden-lg hidden-md">
                Меню услуг
            </div>
            <div class="menu_left">
                <div class="close_block hidden-lg hidden-md">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <?php echo $this->action('left-menu-categories', 'index', 'services'); ?>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 col-lg-8">
            <div class="block_worker worker">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <p>
                            Ваша заявка отправлена, наш менеджер свяжется с Вами в ближайщее время.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
