<div class="block_socilas">
    <?php foreach ($this->social as $icon) { ?>
        <a href="<?php echo $icon['url'];?>" target="_blank" title="<?php echo $icon['title'];?>">
            <img src="<?php echo $this->baseUrl() . '/' . $this->commonImage($icon['img']);?>" class="img-responsive socials" alt="<?php echo $icon['title'];?>">
        </a>
    <?php } ?>
</div>
