<div class="container-fluid bottom_fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-5 col-sm-4 col-xs-3">
                <a href="<?php echo $this->url(array(), '/static/index/home');?>">
                    <img src="<?php echo $this->baseUrl();?>/img/logo.png" class="img-responsive logo_bottom">
                </a>
                <?php echo $this->action('footer-social', 'index', 'default');?>
            </div>
            <div class="col-md-8 col-lg-7 col-sm-8 col-xs-9">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 col_menu_bottom">
                        <p class="bottom_text_menu">Меню</p>
                        <div class="row">
                            <ul>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <li>
                                        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->url([], '/specialists', true);?>">Специалисты</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->url([], '/services', true);?>">Услуги</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->url([], 'blogPages', true);?>">Статьи</a>
                                    </li>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <li>
                                        <a href="<?php echo $this->url(array('alias' => 'about'), '/static/index/index', true);?>">О наc</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->url([], '/news/index/index', true);?>">Новости</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->url(array('alias' => 'contacts'), '/static/index/index');?>">Контакты</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 col_menu_bottom">
                        <p class="bottom_text_menu">Контакты</p>
                        <ul>
                            <li>
                                <img src="<?php echo $this->baseUrl();?>/img/icon/map.png" class="img_bottom_icon">
                                Адрес: <?php echo $this->data['address'];?>
                            </li>
                            <li>
                                <a href="tel:<?php echo $this->data['phone'];?>">
                                    <img src="<?php echo $this->baseUrl();?>/img/icon/phone_bottom.png" class="img_bottom_icon">
                                    <?php echo $this->data['phone'];?>
                                </a>
                            </li>
                            <li>
                                <img src="<?php echo $this->baseUrl();?>/img/icon/mail_bottom.png" class="img_bottom_icon">
                                E-mail
                                <a href="mailto:<?php echo $this->data['email'];?>">
                                    <?php echo $this->data['email'];?>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_line">
        </div>
        <div class="the_end_autor">разработка <a href="<?php echo $this->url(['action' => 'login', 'controller' => 'index', 'module' => 'user'], 'default', true);?>" style="color: #777;">сайта</a> веб-студия <a href="http://itrocks.ru" target="_blank">"Итрокс"</a></div>
    </div>
</div>
<?php if(($this->counters['yandexMetrika'] != '') && ($this->counters['googleAnalytics'] != '')) : ?>
    <div class="footer-analytics">
        <?php if($this->counters['yandexMetrika'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['yandexMetrika']; ?>
                    </span>
        <?php endif; ?>
        <?php if($this->counters['googleAnalytics'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['googleAnalytics']; ?>
                    </span>
        <?php endif; ?>
    </div>
<?php endif; ?>
