<div class="container container_header">
    <div class="row row_header">
        <div class="col-md-3 col-lg-3 col-sm-2 col-xs-6">
            <a href="<?php echo $this->url(array(), '/static/index/home');?>">
                <img src="<?php echo $this->baseUrl();?>/img/logo.png" class="logo_img img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
            <div class="block_text_header pull-right">
                <p class="text_header">Рабочее время:</p>
                <p class="text_header"><?php echo $this->data['workTime'];?></p>
            </div>
            <img src="<?php echo $this->baseUrl();?>/img/icon/clock.png" class="img-responsive img_icon_header pull-right">
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
            <div class="block_text_header pull-right">
                <p class="text_header">E-mail</p>
                <p class="text_header">
                    <a href="mailto:<?php echo $this->data['email'];?>"><?php echo $this->data['email'];?></a>
                </p>
            </div>
            <img src="<?php echo $this->baseUrl();?>/img/icon/mail.png" class="img-responsive img_icon_header pull-right">
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="block_text_header pull-right">
                <p class="text_header">телефон</p>
                <p class="text_header">
                    <a href="tel:<?php echo $this->data['phone'];?>"><?php echo $this->data['phone'];?></a>
                </p>
            </div>
            <img src="<?php echo $this->baseUrl();?>/img/icon/phone.png" class="img-responsive img_icon_header pull-right">
        </div>
    </div>
</div>
