<nav class="navbar navbar-default" role="navigation">
    <?php echo $this->action('social-icons-mobile', 'index', 'default'); ?>
    <div class="container-fluid fluid_menu_header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url([], '/services', true);?>">Услуги</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url(array('alias' => 'about'), '/static/index/index', true);?>">О нас</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url([], '/news/index/index', true);?>">Новости</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url([], 'blogPages', true);?>">Статьи</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url([], '/specialists', true);?>">Специалисты</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url(array('alias' => 'contacts'), '/static/index/index');?>">Контакты</a>
                    </li>
                </ul>
                <?php echo $this->action('social-icons', 'index', 'default'); ?>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
