<div class="container-fluid fluid_slick" id="fluid_slick">
    <?php foreach ($this->images as $key => $image) : ?>
    <div>
        <a href="<?php echo $image['url']; ?>">
            <div class="block_for_slick">
                <img src="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $this->sliderImage($image['image']);?>" class="img-responsive img_slider" />
            </div>
        </a>
    </div>
    <?php endforeach; ?>
</div>