<div class="navbar_socials hidden-sm hidden-lg hidden-md">
    <?php foreach ($this->social as $icon) { ?>
    <a href="<?php echo $icon['url'];?>" class="icon_socials_header" target="_blank" title="<?php echo $icon['title'];?>">
        <img src="<?php echo $this->baseUrl() . '/' . $this->commonImage($icon['img']);?>" class="img-responsive" alt="<?php echo $icon['title'];?>" />
    </a>
    <?php } ?>
</div>
