<ul class="nav navbar-nav navbar_socials hidden-xs">
    <li>
        <?php foreach ($this->social as $icon) { ?>
            <a href="<?php echo $icon['url'];?>" class="icon_socials_header" target="_blank" title="<?php echo $icon['title'];?>">
                <img src="<?php echo $this->baseUrl() . '/' . $this->commonImage($icon['img']);?>" class="img-responsive socials_img" alt="<?php echo $icon['title'];?>">
            </a>
        <?php } ?>

    </li>
</ul>